h1 {
  text-align: center;
}
li {
  margin-bottom: 10px;
}
section, #add-todo {
  margin:40px auto;
  width: 500px;
}

#todos-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-todos {
  margin-top: 30px;
}